<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Employee Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a (click)="onOpenModal('add')"  class="btn btn-primary" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEmployeeModal"><i class="fa fa-pencil"></i></a>

          <a class="nav-link active"  aria-current="page" href="#">Add Employee</a>

          <span class="sr-only">(current)</span>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>


      </ul>
      <!--<form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>-->
    </div>
  </div>
</nav>
<!--___________________________________-->
<div class="container">
  <div class="row" id="main-container">
    <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""><img src="{{employee?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{employee?.name}}</h5>
            <p class="m-0">{{employee?.jobTitle}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">{{employee?.email}}</a></li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{employee?.phone}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <button (click)="onOpenModal('edit')"  class="btn btn-primary" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateEmployeeModal"><i class="fa fa-pencil"></i></button>
<!--
            <a (click)="onOpenModal(employee,'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
-->
            <a (click)="onOpenModal('delete')" class="btn btn-secondary tooltips" data-placement="top"  data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
         <!-- <ul class="social-links list-inline mb-0">
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
          </ul>-->
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>-->


<!-- Add Employee Modal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModalLabel">Edit Employee<!-- {{ addEmpl oyee ?.name}}--></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form >
          <div class="form-group">
            <label for="">Name</label>
            <input type="text" name="name" class="form-control" aria-describedby="emailHelp" placeholder="Name">
          </div>
          <input type="hidden"  name="id" class="form-control" placeholder="Email">
          <input type="hidden"  name="userCode" class="form-control" placeholder="Email">
          <div class="form-group">
            <label for="">Email Address</label>
            <input type="email"  name="email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="">Job title</label>
            <input type="text" name="jobTitle" class="form-control" id="jobTitle" placeholder="Job title">
          </div>
          <div class="form-group">
            <label for="">Phone</label>
            <input type="text" name="phone" class="form-control"  name="phone" placeholder="Phone">
          </div>
          <div class="form-group">
            <label for="">Image URL</label>
            <input type="text" name="imageUrl" class="form-control"  placeholder="Image URL">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee<!-- {{ editEmpl oyee ?.name}}--></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form >
          <div class="form-group">
            <label for="">Name</label>
            <input type="text" name="name" class="form-control" aria-describedby="emailHelp" placeholder="Name">
          </div>
          <input type="hidden"  name="id" class="form-control" id="id" placeholder="Email">
          <input type="hidden"  name="userCode" class="form-control" id="userCode" placeholder="Email">
          <div class="form-group">
            <label for="">Email Address</label>
            <input type="email"  name="email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="">Job title</label>
            <input type="text" name="jobTitle" class="form-control" id="jobTitle" placeholder="Job title">
          </div>
          <div class="form-group">
            <label for="">Phone</label>
            <input type="text" name="phone" class="form-control"  name="phone" placeholder="Phone">
          </div>
          <div class="form-group">
            <label for="">Image URL</label>
            <input type="text" name="imageUrl" class="form-control"  placeholder="Image URL">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
     <!-- <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>-->
      <div class="modal-body">
<!--
        <p>Are you sure you want to delete employee {{delet eEmployee?.name}}?</p>
-->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
<!--
          <button (click)="onDel eteEmloyee (de leteEmployee?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
-->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no employees -->
<div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO EMPLOYEES!</h4>
    <p>No Employees were found.</p>

  </div>

</div>
